.AboutMe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    gap: 40px;
  }
  
  .AboutMe-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .AboutMe-image img:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .AboutMe-content {
    max-width: 500px;
  }
  
  .AboutMe-content h2 {
    font-size: 2rem;
    color: #1e293b;
    margin-bottom: 10px;
  }
  
  .AboutMe-content p {
    font-size: 1.2rem;
    color: #475569;
    line-height: 1.6;
  }